In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [45]:
df = pd.read_csv('master.csv')
df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

# Re-working the data

### Factorize categorical columns for easier analysis

In [22]:
df['country'], country_label = df['country'].factorize()
df['sex'], sex_label = df['sex'].factorize()
df['age'], age_label = df['age'].factorize()
df['generation'], gen_label = df['generation'].factorize()

In [41]:
country_mapped_back = sex_label.take(data['sex']) #name of column to encode
sex_label

Int64Index([0, 1], dtype='int64')

### Drop unnecessary columns

In [25]:
data = df.drop(['country-year','HDI for year',' gdp_for_year ($) '],axis=1)
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_per_capita ($),generation
0,0,1987,0,0,21,312900,6.71,796,0
1,0,1987,0,1,16,308000,5.19,796,1
2,0,1987,1,0,14,289700,4.83,796,0
3,0,1987,0,2,1,21800,4.59,796,2
4,0,1987,0,3,9,274300,3.28,796,3
...,...,...,...,...,...,...,...,...,...
27815,100,2014,1,1,107,3620833,2.96,2309,0
27816,100,2014,1,2,9,348465,2.58,2309,1
27817,100,2014,0,5,60,2762158,2.17,2309,5
27818,100,2014,1,5,44,2631600,1.67,2309,5
27819,100,2014,1,4,21,1438935,1.46,2309,3

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 9 columns):
country               27820 non-null int64
year                  27820 non-null int64
sex                   27820 non-null int64
age                   27820 non-null int64
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null int64
dtypes: float64(1), int64(8)
memory usage: 1.9 MB

In [50]:
m_avg = {}
w_avg = {}
for year in range (data['year'].min(),data['year'].max()+1):
    m_avg[year] = data[(data['year'] == year) & (data['sex']==0)]['suicides_no'].mean()
    w_avg[year] = data[(data['year'] == year) & (data['sex']==1)]['suicides_no'].mean()

In [51]:
m_avg

{1985: 290.22222222222223,
 1986: 301.4513888888889,
 1987: 283.44444444444446,
 1988: 299.35714285714283,
 1989: 381.0352564102564,
 1990: 373.0286458333333,
 1991: 386.453125,
 1992: 410.0153846153846,
 1993: 436.4974358974359,
 1994: 442.4779411764706,
 1995: 403.9316239316239,
 1996: 415.8917748917749,
 1997: 403.93722943722946,
 1998: 409.19831223628694,
 1999: 401.4136546184739,
 2000: 388.7170542635659,
 2001: 374.342803030303,
 2002: 388.65503875968994,
 2003: 388.47286821705427,
 2004: 372.2797619047619,
 2005: 361.7857142857143,
 2006: 355.53333333333336,
 2007: 349.0,
 2008: 355.8313725490196,
 2009: 353.12172284644197,
 2010: 349.3939393939394,
 2011: 352.4573643410853,
 2012: 364.50411522633743,
 2013: 357.7916666666667,
 2014: 366.2991452991453,
 2015: 420.40860215053766,
 2016: 151.2375}