In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('master.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

# Re-working the data

### Factorize categorical columns for easier analysis

In [22]:
df['country'], country_label = df['country'].factorize()
df['sex'], sex_label = df['sex'].factorize()
df['age'], age_label = df['age'].factorize()
df['generation'], gen_label = df['generation'].factorize()

In [ ]:
country_mapped_back = country_label.take() #name of column to encode

### Drop unnecessary columns

In [25]:
data = df.drop(['country-year','HDI for year',' gdp_for_year ($) '],axis=1)
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_per_capita ($),generation
0,0,1987,0,0,21,312900,6.71,796,0
1,0,1987,0,1,16,308000,5.19,796,1
2,0,1987,1,0,14,289700,4.83,796,0
3,0,1987,0,2,1,21800,4.59,796,2
4,0,1987,0,3,9,274300,3.28,796,3
...,...,...,...,...,...,...,...,...,...
27815,100,2014,1,1,107,3620833,2.96,2309,0
27816,100,2014,1,2,9,348465,2.58,2309,1
27817,100,2014,0,5,60,2762158,2.17,2309,5
27818,100,2014,1,5,44,2631600,1.67,2309,5
27819,100,2014,1,4,21,1438935,1.46,2309,3

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 9 columns):
country               27820 non-null int64
year                  27820 non-null int64
sex                   27820 non-null int64
age                   27820 non-null int64
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null int64
dtypes: float64(1), int64(8)
memory usage: 1.9 MB

In [36]:
for year in range (data['year'].min(),data['year'].max()+1):

SyntaxError: can't assign to literal (<ipython-input-36-09124b55d446>, line 2)